<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<form th:action="@{/user/new}" th:object="${user}" method="post">
    <table border="1">
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{username}"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{password}"></td>
        </tr>
        <tr>
            <td>Matching password</td>
            <td><input type="password" th:field="*{matchingpassword}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="Email" th:field="*{email}"></td>
        </tr>
    </table>
    <button type="submit">Save</button>
</form>
</body>
</html>